/* Navigation.css */
.navbar {
    width: 200px;
    height: 100vh;
    position: fixed; /* Lock navbar to the left */
    top: 0;
    left: 0;
    background-color: #f4f4f9; /* Add a background to avoid visual glitches */
    padding-top: 70px; /* Avoid overlap with the header */
}


.navbar-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar-item {
    margin: 0;
}

.navbar-link {
    display: block;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.navbar-item.selected .navbar-link,
.navbar-link:hover {
    background-color: #3f51b5;
    color: white;
}

