table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    white-space: nowrap; 
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  td:last-child {
    text-align: center; 
  }

.dashboard-container {
    margin: 10px;
    position: relative; 
    overflow: auto; 
}

.view-checkout {
    border: 1px solid #ccc; 
    padding: 5px 10px;
    cursor: pointer;
    text-align: center; 
  }